@charset "UTF-8";
* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    background: #fff;
    letter-spacing: -.2px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        width: 1200px;
    }
}



input[type="search"] {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input, button, select, textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

a, a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a {
    cursor: pointer;
    color: inherit;
    color: #0275d8;
    text-decoration: none;
    background-color: transparent;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
a, a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}
hr, p {
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
   