@charset "UTF-8";
<!--네브영역 -->
.header {
    position: relative;
}

.header-container {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 100;
}

.header-container .header-inner {
    width: 100%;
}

.header-nav {
    max-width: 1060px;
    height: 48px;
    position: relative;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .header-nav {
        height: 72px;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.search-bar {
    width: 340px;
    height: 48px;
    position: relative;
    margin-left: 24px;
}

.search-bar .search-input {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    margin-right: 16px;
}

.search-container {
    height: 48px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
}

.search-container i {
    left: 16px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
}

.search-container input {
    background-color: #f5f6f7;
    color: #495056;

    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding-left: 48px;
    padding-right: 16px;
    transition: all .2s ease;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -.4px;
}

.header-menu {
    height: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

.header-menu .header-menu-item {
    height: 36px;
    position: relative;
    margin-right: 8px;
}

.header-menu .header-menu-item .link-btn {
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    transition: background-color .15s ease;
    border: 1px solid #a7d4f9;
    color: #2b96ed;
}

.header-menu .header-menu-item .link-btn:hover {
    background: #2b96ed;
    color: white;
}

.header-menu .header-menu-item .link-btn:active {
    background: #2b96ed;
    color: white;
}

.header-menu .header-menu-item a {
    color: #666d75;
    height: 100%;
    padding: 8px 12px;
    border: 0;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(0,0,0,0);
    transition: background-color .2s ease;
    line-height: normal;
    white-space: nowrap;
}

.header-navigation {
    border-bottom: 1px solid #dee2e6;
    width: 100%;
}

.header-navigation-container {
    max-width: 1060px;
    height: 50px;
    position: relative;
    margin: 0 auto;
}

.header-navigation-wrapper {
    height: 100%;
    position: relative;
}

.navigation-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: inherit;
    margin-left: -16px!important;
    z-index: inherit;
}

.navigation-item {
    position: relative;
    height: 100%;
    margin: 0 12px;
    color: #495056;
}

.navigation-item:hover {
    border-bottom: 3px solid #79bef5;
}

.navigation-item a {
    color: #666d75;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
}

.navigation-item a img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

.navigation-item a span {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 3px solid rgba(0,0,0,0);
    font-size: 16px;
    font-weight: 700;
    line-height: 47px;
    transition: border .2s ease;
}
<!-- 푸터 영역 -->

.footer{
padding-bottom: calc(env(safe-area-inset-bottom));
    border-top: 1px solid #e9ecef;
    background-color: #fff;
}
.grid-container{
    position: relative;
    width: 100%;
}
.grid-row .footer-custom{
    box-sizing: border-box;
}
.grid-row{
    margin: 0 auto;
    position: relative;
    width: 1060px;
}
.footer .mrtFooter{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    position: relative;
}
.footer .mrtFooter .footer-container1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.customer{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    text-align: left;
    color: #666d75;
    padding-bottom: 32px;
}
.customer .customer-subject{
    margin: 0;
    line-height: 1.33;
    font-size: 18px;
    font-weight: 700;
}
.customer .customer-question{
    margin: 10px 0 0;
    font-size: 14px;
    color: #848c94;
    line-height: 1.5;
    letter-spacing: -.2px;
    word-break: break-all;
}
.customer .customer-question .customer-word{
    color: #495056;
}
.customer .chat-btn{
    width: 110px;
    margin: 16px 0 0;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 9px 8px;
    font-size: 14px;
    font-weight: 700;
    color: #495056;
    background-color: #fff;
    line-height: 20px;
    transition: box-shadow .2s ease;
}
.footer .mrtFooter .footer-container2{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #e9ecef;
    padding: 16px 0 0;
}
.policy{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 50%;
}
.policy .policy-item{
    margin-right: 20px;
}
.policy .policy-item .policy-item2{
    font-size: 14px;
    line-height: 2.29;
    color: #666d75;
    transition: color .2s ease;
}
.Button-module{
    height: auto;
    padding: 6px;
    font-size: 14px;
    border: 0;
    padding: 0;
    position: relative;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: box-shadow .1s ease-out,background-color .1s ease-out,color .1s ease-out,border-bottom .1s ease-out;
}
.policy-item2{
    display: inline-block;
    line-height: 1;
    box-sizing: border-box;
}

.footer .mrtFooter .footer-container2 .footer-copyright{
    color: #848c94;
    font-size: 12px;
    letter-spacing: -.2px;
    line-height: 1.67;
    text-align: left;
    margin: 16px 0 0;
}