<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.CouponMapper">
	<insert id="insert">
		INSERT INTO coupon (couponNo, memberId, couponName)
		VALUES (seq_coupon.nextval, #{memberId}, #{couponName})
	</insert>
	
	<select id="check" resultType="org.zerock.domain.CouponVO">
		SELECT couponNo FROM coupon WHERE memberId = #{memberId} and couponName LIKE #{couponName}
	</select>
	
	<select id="getList" resultType="org.zerock.domain.CouponVO">
		SELECT couponName from coupon WHERE memberId = #{memberId, jdbcType=VARCHAR}
	</select>
</mapper>

