<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.zerock.mapper.MemberMapper">
  
<insert id="insertSelectKey" >
		<selectKey keyProperty="no" order="BEFORE" resultType="long">
			SELECT seq_member.nextval FROM dual
		</selectKey>
		
		INSERT INTO member 
		(no, id, email, password, name, nickname, loc)
		VALUES (#{no}, #{id}, #{email}, #{password}, #{name}, #{nickname}, #{loc}) 
	</insert>
</mapper>
